In [2]:
# importing the libraries
import numpy as np
import pandas as pd
import tensorflow as tf

In [3]:
tf.__version__

'2.6.0'

In [4]:
# Part 1 - Data Preprocessing
# Importing the dataset
dataset = pd.read_csv('Churn_Modelling.csv')
X = dataset.iloc[:, 3:-1].values
y = dataset.iloc[:, -1].values

In [5]:
print(X)

[[619 'France' 'Female' ... 1 1 101348.88]
 [608 'Spain' 'Female' ... 0 1 112542.58]
 [502 'France' 'Female' ... 1 0 113931.57]
 ...
 [709 'France' 'Female' ... 0 1 42085.58]
 [772 'Germany' 'Male' ... 1 0 92888.52]
 [792 'France' 'Female' ... 1 0 38190.78]]

In [6]:
print(y)

[1 0 1 ... 1 1 0]

In [7]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [8]:
# Encoding categorical data
# Label Encoding the "Gender" column
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X[:, 2] = le.fit_transform(X[:, 2])

In [9]:
print(X)

[[619 'France' 0 ... 1 1 101348.88]
 [608 'Spain' 0 ... 0 1 112542.58]
 [502 'France' 0 ... 1 0 113931.57]
 ...
 [709 'France' 0 ... 0 1 42085.58]
 [772 'Germany' 1 ... 1 0 92888.52]
 [792 'France' 0 ... 1 0 38190.78]]

In [10]:
# One Hot Encoding the "Geography" column
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X = np.array(ct.fit_transform(X))

In [11]:
print(X)

[[1.0 0.0 0.0 ... 1 1 101348.88]
 [0.0 0.0 1.0 ... 0 1 112542.58]
 [1.0 0.0 0.0 ... 1 0 113931.57]
 ...
 [1.0 0.0 0.0 ... 0 1 42085.58]
 [0.0 1.0 0.0 ... 1 0 92888.52]
 [1.0 0.0 0.0 ... 1 0 38190.78]]

In [12]:
# Splitting the dataset into the Training set and Test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [13]:
# Feature Scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [14]:
# BUILDING THE ANN:
#     1)Initializing the ANN
#     2)Adding the input layer and the first hidden layer
#     3)Adding the second hidden layer
#     4)Adding the output layer

In [15]:
# Initializing the ANN
ann = tf.keras.models.Sequential()

In [16]:
# Adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [17]:
# Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))

In [18]:
# Adding the output layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

In [19]:
# Training the ANN:
#     1)Compiling the ANN
#     2)Training the ANN on the training set

In [20]:
#     1)Compiling the ANN
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])
# loss = 'binary_crossentropy' for binary classification and
# categorical for non binary classification

In [21]:
#     2)Training the ANN on the training set
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 2s 1ms/step - loss: 0.5660 - accuracy: 0.7406
Epoch 2/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4707 - accuracy: 0.8036
Epoch 3/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4421 - accuracy: 0.8052
Epoch 4/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4267 - accuracy: 0.8077
Epoch 5/100
250/250 [==============================] - 0s 1ms/step - loss: 0.4137 - accuracy: 0.8135
Epoch 6/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3982 - accuracy: 0.8276
Epoch 7/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3826 - accuracy: 0.8386
Epoch 8/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3700 - accuracy: 0.8474
Epoch 9/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3604 - accuracy: 0.8520
Epoch 10/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3545 - accuracy: 0.8537
Epoch 11/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3509 - accuracy: 0.8565
Epoch 12/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3483 - accuracy: 0.8560
Epoch 13/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3465 - accuracy: 0.8568
Epoch 14/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3451 - accuracy: 0.8570
Epoch 15/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3440 - accuracy: 0.8585
Epoch 16/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3430 - accuracy: 0.8589
Epoch 17/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3418 - accuracy: 0.8590
Epoch 18/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3421 - accuracy: 0.8601
Epoch 19/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3411 - accuracy: 0.8591
Epoch 20/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3406 - accuracy: 0.8610
Epoch 21/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3401 - accuracy: 0.8600
Epoch 22/100
250/250 [==============================] - 0s 2ms/step - loss: 0.3395 - accuracy: 0.8599
Epoch 23/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3390 - accuracy: 0.8595
Epoch 24/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3387 - accuracy: 0.8620
Epoch 25/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3382 - accuracy: 0.8604
Epoch 26/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3379 - accuracy: 0.8605
Epoch 27/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3376 - accuracy: 0.8610
Epoch 28/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3375 - accuracy: 0.8618
Epoch 29/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3368 - accuracy: 0.8614
Epoch 30/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3366 - accuracy: 0.8610
Epoch 31/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3367 - accuracy: 0.8615
Epoch 32/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3360 - accuracy: 0.8612
Epoch 33/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3361 - accuracy: 0.8620
Epoch 34/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8625
Epoch 35/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3359 - accuracy: 0.8614
Epoch 36/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3352 - accuracy: 0.8621
Epoch 37/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3356 - accuracy: 0.8621
Epoch 38/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3355 - accuracy: 0.8618
Epoch 39/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8633
Epoch 40/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3353 - accuracy: 0.8608
Epoch 41/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3348 - accuracy: 0.8630
Epoch 42/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8620
Epoch 43/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3346 - accuracy: 0.8621
Epoch 44/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3343 - accuracy: 0.8640
Epoch 45/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8624
Epoch 46/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3345 - accuracy: 0.8626
Epoch 47/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8630
Epoch 48/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3341 - accuracy: 0.8626
Epoch 49/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3339 - accuracy: 0.8624
Epoch 50/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3340 - accuracy: 0.8621
Epoch 51/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8635
Epoch 52/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3333 - accuracy: 0.8624
Epoch 53/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8633
Epoch 54/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3336 - accuracy: 0.8622
Epoch 55/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3335 - accuracy: 0.8636
Epoch 56/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8626
Epoch 57/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3332 - accuracy: 0.8626
Epoch 58/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3331 - accuracy: 0.8643
Epoch 59/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8640
Epoch 60/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8631
Epoch 61/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3330 - accuracy: 0.8619
Epoch 62/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8631
Epoch 63/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3323 - accuracy: 0.8635
Epoch 64/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3327 - accuracy: 0.8630
Epoch 65/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3322 - accuracy: 0.8637
Epoch 66/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3325 - accuracy: 0.8635
Epoch 67/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3329 - accuracy: 0.8630
Epoch 68/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3321 - accuracy: 0.8622
Epoch 69/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8636
Epoch 70/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3320 - accuracy: 0.8637
Epoch 71/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3319 - accuracy: 0.8639
Epoch 72/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8633
Epoch 73/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3318 - accuracy: 0.8633
Epoch 74/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3314 - accuracy: 0.8627
Epoch 75/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3315 - accuracy: 0.8631
Epoch 76/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3313 - accuracy: 0.8625
Epoch 77/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3311 - accuracy: 0.8640
Epoch 78/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8644
Epoch 79/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3310 - accuracy: 0.8644
Epoch 80/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3317 - accuracy: 0.8630
Epoch 81/100

250/250 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8622
Epoch 82/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3312 - accuracy: 0.8626
Epoch 83/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8634
Epoch 84/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8634
Epoch 85/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8629
Epoch 86/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8637
Epoch 87/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8630
Epoch 88/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3307 - accuracy: 0.8643
Epoch 89/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3309 - accuracy: 0.8634
Epoch 90/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8630
Epoch 91/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8645
Epoch 92/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8650
Epoch 93/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3306 - accuracy: 0.8644
Epoch 94/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3304 - accuracy: 0.8627
Epoch 95/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8633
Epoch 96/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3305 - accuracy: 0.8640
Epoch 97/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8636
Epoch 98/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3303 - accuracy: 0.8639
Epoch 99/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3302 - accuracy: 0.8637
Epoch 100/100
250/250 [==============================] - 0s 1ms/step - loss: 0.3301 - accuracy: 0.8654

In [25]:
dataset.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [26]:
# Part 4 - Making the predictions and evaluating the model
# Predicting the result of a single observation
# Use our ANN model to predict if the customer with the following informations will leave the bank:

# Geography: France

# Credit Score: 600

# Gender: Male

# Age: 40 years old

# Tenure: 3 years

# Balance: $ 60000

# Number of Products: 2

# Does this customer have a credit card? Yes

# Is this customer an Active Member: Yes

# Estimated Salary: $ 50000

# So, should we say goodbye to that customer?
# Solution:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

[[False]]

In [27]:
# Therefore, our ANN model predicts that this customer stays in the bank!

# Important note 1: Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

# Important note 2: Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

In [28]:
# Predicting the Test set results
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test.reshape(len(y_test),1)),1))

[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [29]:
# Making the Confusion Matrix
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1521   74]
 [ 203  202]]

0.8615